<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= locale.intercraft_login.title %></title>
	
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/mdb.min.css">
	<link rel="stylesheet" href="../css/app.css">

</head>
<body class="login-body">
	<div class="container" style="height: 100vh;">
		<div class="row h-100">
			<div class="col-12 col-sm-12 col-md-8 col-lg-6 offset-sm-12 offset-md-2 offset-lg-3 my-auto">
				<div class="align-middle">
					<div class="text-center login-header">
						<h2><%= locale.intercraft_login.title %></h2>
					</div>
					<div>
						<form action="" method="post" id="login-form">
							<div class="form-group md-form">
								<i class="fa fa-user prefix" style="padding-top: 8px;"></i>
								<input type="email" id="email" class="form-control">
								<label for="email" class="no-selection"><%= locale.general.email %></label>
							</div>
							<div class="form-group md-form">
								<i class="fa fa-lock prefix" style="padding-top: 8px;"></i>
								<input type="password" id="password" class="form-control">
								<label for="password" class="no-selection"><%= locale.general.password %></label>
							</div>
							<fieldset class="form-group">
								<input type="checkbox" id="remember">
								<label for="remember"><%= locale.intercraft_login.remember %></label>
							</fieldset>
							<div class="form-group text-center">
								<button id="button-login" type="submit" class="btn btn-primary"><%= locale.intercraft_login.signin %></button>
							</div>
							<div class="form-group text-center ">
								<a href="">Forgot Password</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>window.$ = window.jQuery = require('../js/jquery.min.js');</script> <!-- JQuery -->
	<script type="text/javascript" src="../js/tether.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/mdb.min.js"></script>
	<script>const ipc = require("../js/ipc.js");</script>
	<script>const locale = require("../js/locale.js");</script>
	<script>const loginWindow = require("../js/login_window.js");</script>
	<script>if (window.module) module = window.module;</script>
	<script>
		$(document).ready(function() {
			loginWindow.init();
			ipc.ready();
		});
	</script>
</body>
</html>